/* Structure  */

.wrapper {
  margin: 0 auto;
  width: 80%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.image {
  flex: 1 100%;
  margin-bottom: 20px;
}

.image img {
  width: 100%;
}

/* Input  */

.searchbar input {
  width: 100%;
  padding: 10px;
  margin: 30px 0 20px;
  border: 2px solid #ECECEC;
  border-radius: 3px;
  outline: none;
}

body {
  font-family: Arial;
}

.lb-closeContainer {
  display: none;
}


@media (min-width: 500px) {
  .image {
    margin: 5px;
    flex: 0 47.4%;
  }
}

@media (min-width: 768px) {
  .searchbar input {
    width: 50%;
  }

  .searchbar {
    text-align: center;
  }

  .image {
    margin: 15px;
    flex: 0 28.3%;
  }

  /* Plugin Adjustment */

  .lb-data {
    width: 600px;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .image {
    margin: 20px;
    flex: 0 20.4%;
  }

  .wrapper {
    width: 900px;
  }
}

